@inherits PizzasBase;


    <h3>Pizzas</h3>

    <h3>Pizzas</h3>
    <!-- zone admin -->
    <div class="row">
        <div class="col">
            <!-- Formulaire édition pizza -->
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <!-- zone liste pizza -->
        </div>
        <div class="col-4">
            <!-- zone panier -->
        </div>
    </div>

